body {
  font-family: "Roboto", "Helvetica Neue", "Verdana", "Tahoma" sans-serif;
  color: var ();
}
a {
  text-decoration: none;
}
:root {
  --white-color: #ffffff;
  --black-color: #212121;
  --blue-color: #2196f3;
  --grey-color: #757575;
  --last-section-color: #e5e5e5;
  --navy-color: #2f303a;
}

/* początek sekcji header*/
header {
  background: var(--white-color);
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--black-color);
  letter-spacing: 0.03em;
  line-height: 1.19;
}
.logo-color {
  color: var(--blue-color);
}
.agency {
  font-weight: 500;
  font-size: 14px;
  color: var(--blue-color);
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.portfolio {
  font-weight: 500;
  font-size: 14px;
  color: var(--black-color);
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.contact {
  font-weight: 500;
  font-size: 14px;
  color: var(--black-color);
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.email-in-header {
  font-weight: 500;
  font-size: 14px;
  color: var(--blue-color);
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.tel-number-in-header {
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  letter-spacing: 0.02em;
  line-height: 1.14;
}
/* koniec sekcji*/

/*pierwsza sekcja*/
.first-section {
  background: var(--navy-color);
}

.primary-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-color);
}
button {
  font-weight: 700;
  font-size: 16px;
  background-color: var(--blue-color);
  color: var(--white-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
/*druga sekcja*/
.small-headers {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.descriptions {
  font-size: 14px;
  color: #757575;
  line-height: 1.71;
}
/*trzecia sekcja*/
.secondary-header {
  font-weight: 700;
  font-size: 36px;
}
.last-section {
  background: var(--last-section-color);
}
/*czwarta sekcja*/
.last-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.professions {
  color: var(--grey-color);
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* sekcja footer*/
footer {
  background: var(--navy-color);
}
.logo-in-footer {
  color: var(--white-color);
  font-weight: 700;
  font-size: 26px;
}
.street {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: var(--white-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.email-in-footer {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-color);
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.tel-in-footer {
  font-style: normal;
  color: var(--grey-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
